<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="//style.anastasiajsokol.com/favicon.svg">
    <title>Document Title</title>

    <link rel="stylesheet" href="//style.anastasiajsokol.com/style.css">
</head>
<body>
    <header>
        <h1 id="title">Document Title</h1>

        <hr/>

        <nav>
            <ol>
                <li>...</li>
                <li><span aria-current="page">Short Title</span></li>
            </ol>
        </nav>
    </header>

    <section>
        <h2>Section Header</h2>

        <p>...</p>
    </section>
</body>
</html>