* {
    font-family: 'Ubuntu';
}

.darkmode {
    background: url("images/bgstar.gif") #333;
    color: white
}

.darkmode a {
    color: #00ff55;
}

.darkmode .box {
    border-radius: 10px;
    
    padding: 5px 20px;
    margin: 10px;

    color: black;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(66deg, #c11a2b, #f15729, #a621e3, #21ade3, #0278bd, #21ade3, #a621e3, #f15729, #c11a2b);
    font-family: arial black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

.title .gnome {
    transform: translateY(25%);
    
    margin-right: 10px;
    margin-left: 10px;
    
    height: 100px;
}

@media (max-width: 400px) {
    .title {
        animation: rainbow-animation 300s linear infinite;
    }
}

@media (min-width: 400px) {
    .title {
        animation: rainbow-animation 80s linear infinite;
    }
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

.flash {
    color: #a621e3;
    animation: flash-animation 1500ms steps(2, jump-none) infinite;
}

@keyframes flash-animation {
    0% {
        color: #f15729;
    }

    25% {
        color: #a621e3;
    }
    
    50% {
        color: #21ade3;
    }

    75% {
        color: #a621e3;
    }
    
    100% {
        color: #f15729;
    }
}