li.complex {
    margin-bottom: var(--spacing);
}

blockquote {
    margin-left: var(--indent-margin);
}

.buttons {
    margin-top: var(--spacing);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons img {
    --button-scale-factor: 1.3;

    height: calc(31px * var(--button-scale-factor));
    width: calc(81px * var(--button-scale-factor));
}